<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventplanner">

    <!-- Разрешения -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Event Planner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Главная активность с launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Активность добавления событий -->
        <activity
            android:name=".AddEventActivity"
            android:exported="false" />

        <!-- Получатель уведомлений (BroadcastReceiver) -->
        <receiver
            android:name=".NotificationReceiver"
            android:exported="true" />
    </application>
</manifest>
